<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PerfectYou</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css"> 
    <link rel="stylesheet" href="stylesheet/style.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="shortcut icon" href="image/icon.ico" /> 

</head>

<body>

    <div id="page">

    <header class="landingHead">
        <hr id="topLine"/>
        
    </header>

    <div class="row" id="headRow">

            <div class="col-sm-3">
                <h2 class="title"> PERFECT YOU </h2>
            </div>

            <div class="col-sm-3"></div>

            <div class="col-sm-6" id="topNav">
                <div class="col-sm-3" ><a href="#" style="color:#FF7A01;" >How it works </a></div>
                <div class="col-sm-5"><a href="#">Understanding Eating Disorders </a></div>
                <div class="col-sm-3"> <button type="button" id = "logbutton" class="btn btn-primary btn-md"> LOG IN</a></button> </div>   
            </div>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-3 col-xs-offset-2">
                    <hr id ="navLine">
                </div>
            </div>
    </div>

    <div class="content">

        
        <div id="imageBanner">
             <h1> <center> Overcome your stressful thoughts and challenges. <br>Build resilience <b>TODAY</b>. </center></h1> 
            <img src='image/back3.jpg' alt="Snow" style="width:100%;height:680px;"/>
            <button class="btn" id="bannerButton"> <b>Start My Journey</b></button>

        </div>


        <div class="row" id="secA">

            <div class="col-xs-1"></div>
            <div class="col-xs-5">
            <h3>Set Up Your Account</h3>
             <hr id ="navLine">
             <br>
             <p> In order to ensure that you may keep returning here in a hassle free manner, register for free the first time. This will allow us to keep your records safe and track your progress through the journey. <br>Happy Signing up!</p>
             <button class="btn" id="signBt"> <b>Sign Up</b></button>
            </div>
            <div class="col-xs-5">
                <img src='image/landing1.jpg' id="landingImg"/>
            </div>

        </div>

        <div class="row" id="secA" style="background-color:#F0F0F0">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
                  <img src='image/landing10.png' id="landingImgB"/>
            </div>
            <div class="col-xs-5">
                 <h3>Take Eating Test</h3>
                  <hr id ="navLine">
                 <br>
                 <p>Take a screening test to assess your eating habits today. It is personal, safe, and effective. Taking the test will acknowledge you with your eating behavior and will give an insight if you are eating healthy or if you need more nutrients.<br>The test will ask you quesitons about your eating behavior as well as some quesitons about your body shape.</p>
            </div>
        </div>


        <div class="row" id="secB">
            <h3 id="central">Your Eating Scores</h3>
             <hr id ="navLine">
             <h4>Take the test and assess your eating scores today!</h4>
             <p style="padding-top:0px"> Your scores are relative to other people who face similar eating challenge. The results describe to you where you stand and allows you to assess yourself. It is free of cost and gives a quick and personal consultation. <br>The scores should not be taken as final diagnosis because they are only an amalgamation of eating questionnaires administered worldwide.  </p>

             <div class="row" id="scoreRow">
                 <div class="col-xs-2"></div>
                 <div class="col-xs-3" style="padding-left:0px;height: auto;">
                        <img src="image/group1.jpg"/>
                        <p style="padding-top:0px;margin-top:-18px;">1 out of every 8 girls face an eating challenge.</p>
                 </div>
                 <div class="col-xs-3">
                        <div class="counter" data-count="1200">0</div>
                        <p>Females with reported eating disorders in Lahore</p>
                 </div>
                 <div class="col-xs-4">

                    <h5 style="margin-left:12px;font-size:20px;">Percentage Improvement</h5>
                    <ul class="chart">
                      <li>
                        <span style="height:30%" title="Without Therapy"></span>
                      </li>
                      <li>
                        <span style="height:88%" title="With Therapy"></span>
                      </li>
                    </ul>    
                     
                 </div>
             </div>
            
        
        </div>

        <div class="row" id="secB" style="background-color:#F0F0F0">
               <h3 id="central">Get Inspired</h3>
                <hr id ="navLine" style="width:10%">
                <h4>Meet others who have shared their survival and success stories.</h4>
                <button type="button" id = "logbutton" class="btn btn-primary btn-md">Share My Story</button>   
        </div>

        <div class="row" id="secA" style="padding-bottom: 0px;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="height: auto">
                 <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                  <div class="carousel-inner">
                      <div class="item active">
                         <div class="col-xs-1"></div>
                            <div class="col-xs-6">
                            <h4>Fatima K.</h4>
                            <h5><i>"I struggled, I fought, I survived..."</i></h5>
                            <p> I did not know that I was facing a challenge. I did not know that they name my condition. Everyone just thought that I am dieting. My parents used to scold me. I had no friends left because all of them thought that I have gone crazy. I wanted to stop but I could not.<br><br>One day my mother took me to a family doctor. That's when my life began to change. He discussed my eating routines with me. He assured me that eating won't make me fat.</p>
                            </div>
                            <div class="col-xs-4">
                                <img src='image/story1.jpg' id="landingImg"/>
                            </div>
                      </div>

                      <div class="item">
                         <div class="col-xs-1"></div>
                            <div class="col-xs-6">
                            <h4>Fatima K.</h4>
                            <h5>"My friends abondoned me."</h5>
                            <p> I did not know that I was facing a challenge. I did not know that they name my condition. Everyone just thought that I am dieting. My parents used to scold me. I had no friends left because all of them thought that I have gone crazy. I wanted to stop but I could not.<br><br>One day my mother took me to a family doctor. That's when my life began to change. He discussed my eating routines with me. He assured me that eating won't make me fat.</p>
                            </div>
                            <div class="col-xs-4">
                                <img src='image/story2.jpg' id="landingImg" style="margin-top: 0px;" />
                            </div>
                      </div>
                    
                      <div class="item">
                         <div class="col-xs-1"></div>
                            <div class="col-xs-6">
                            <h4>Fatima K.</h4>
                            <h5>"I struggled, I fought, I survived..."</h5>
                           <p> I did not know that I was facing a challenge. I did not know that they name my condition. Everyone just thought that I am dieting. My parents used to scold me. I had no friends left because all of them thought that I have gone crazy. I wanted to stop but I could not.<br><br>One day my mother took me to a family doctor. That's when my life began to change. He discussed my eating routines with me. He assured me that eating won't make me fat.</p>
                            </div>
                            <div class="col-xs-4">
                                <img src='image/story1.jpg' id="landingImg"/>
                            </div>
                      </div>
                    </div>
            </div>
        </div>

         <div class="row" id="secB" style="background-color:#F0F0F0">
                <div class="col-xs-2"></div>
                <div class="col-xs-2">
                    <img src='image/quot.png' id="quots"/>
                </div>
                 <div class="col-xs-5">
                    <br> <br>
                    <h2>"Beauty is not a state of body."</h2>
                </div>
                
                <div class="row">
                    <div class="col-xs-7"></div>
                    <div class="col-xs-4" id="mytextdiv">
                        <div class="divider"></div>
                        <div class="mytexttitle"> Healthy Palace
                        </div>
                     
                    </div>
                </div>
        </div>

        <footer class="myfooter">

            <div class="row">
                <div class="col-xs-10 col-xs-offset-1" style="padding-left:50px;">
                    <div class="col-md-2" id="foot"> <a href="#">About Us</a></div>
                    <div class="col-md-3" id="foot"> <a href="#"> Understanding Eating Disorders </a> </div>
                    <div class="col-md-2" id="foot" style="padding-left:30px;"> <a href="#">Your Journey</a></div>
                    <div class="col-md-3" id="foot" style="padding-left:28px;"> <a href="#">Terms & Conditions</a></div>
                    <div class="col-md-2" id="foot"> <a href="#">Connect (Upcoming)</a></div>
                </div>

            </div>
            <div class="row" id="subfoot">
                <div class="col-xs-7 col-xs-offset-1" style="margin-top:20px;padding-left:50px;">
                  2018 &copy; PerfectYou, Inc. All rights reserved.
                </div>
                
                <div class="col-xs-2" id= "followtext">Follow Us On</div>
                <div class="col-xs-2" id="followbt">
                <img src='image/plus.png'/>
                <img src='image/fb.png' style="width:17%;height:17%;" />
                 <img src='image/twitter.png' />
                </div>

            </div>
        </footer>
    </div>
    </div>

<!--    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("headRow");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
    </script>-->

    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>


    </html>