<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PerfectYou Screening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css"> 
    <link rel="stylesheet" href="style.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <!-- <link rel="shortcut icon" href="images/icon-dark.ico" /> -->

</head>

<body id="toolbody">

    <div id="page">

    <header class="landingHead">
        <hr id="topLine"/>
    
    </header>

    <div class="row" id="headRow">

            <div class="col-sm-3">
                <h2 class="title"> PERFECT YOU </h2>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="topNav">
                <div class="col-xs-4"></div>
                <div class="col-xs-3" style="color:black">manahilhashmi</div>
                <div class="col-sm-3"> <button type="button" id = "logbutton" class="btn btn-primary btn-md"> Log Out</a></button> 
                </div>  
            </div>
    </div>
   
      <div class="nav-wrap">
        <center>
      <ul class="group" id="example-one">
            <li >
              <a href="home.html">Home</a>
            </li>
            <li id ="stest"><a href="tool.html">Screening Test</a></li>
            <li class="current_page_item" id="sco"><a href="#">My Scores</a></li>
            <li id="dd"><a href="#">Daily Diary</a></li>
             <li><a href="#">Share My Story</a></li>
            
        </ul> </center>
      </div>

        <div class="row" id="tool">
        
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
            <center><h2 style="margin-top:0px;">You scored a total of: <span style="font-size:40px;">88</span></h2></center>
                <div class="row" id="innerscore">
                    <h4 style="margin-left:10%;color:#808080"> Interpret Your Score</h4>
                    <h4 style="color:#808080;margin-left:30%"> Your BMI Score:<span style="font-size:30px;">15</span></h4>
                   
                   

                    <div class="col-xs-5"> 

                        <span style="font-size:24px"> <b> 180+ </b></span>
                        <br>
                        <span >Highly likely to be facing an eating challenge.</span>
                        <br>
                        <span style="font-size:24px"> <b> 120-180 </b></span>
                        <br>
                        <span >At high risk of an eating challenge</span><br>
                         <span style="font-size:24px"> <b> 90-119</b></span>
                        <br>
                        <span >Tendency towards an eating challenge.</span><br>
                         <span style="font-size:24px;background-color:#ff7a01;color:white;"> <b> Under 90</b></span>
                        <br>
                        <span >Unlikely to have an eating challenge.</span>
                        



                    </div>
                    <div class="col-xs-5 col-xs-offset-1">

                     <span style="font-size:24px;background-color:#ff7a01;color:white;"> <b> Under 18.5 </b></span>
                        <br>
                        <span >Underweight</span>
                        <br>
                        <span style="font-size:24px"> <b> 18.5-24.9 </b></span>
                        <br>
                        <span >Normal Weight </span><br>
                         <span style="font-size:24px"> <b> 25.0-29.9</b></span>
                        <br>
                        <span >Overweight</span><br>
                         <span style="font-size:24px"> <b> 30.0 Above</b></span>
                        <br>
                        <span >Obese</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>



            
        </div>








      <footer class="myfooter" id= "warning">


        <div class="col-xs-1 col-xs-offset-1"> 
          <img src="image/warn.png" style="margin-left:20px;"> </div>
        <div class="col-xs-9" style="padding-left:0px">This test has been designed for self-assessment purposes only. It does not diagonse. Kindly take it as an assessment tool only to know about your eating behavior and refer to a consultant if advised to do so.</div>
               
      </footer>

    </div>

        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
       
    </body>



<script type="text/javascript">
$(document).ready(function(){
    console.log('here')
   

  $("#example-one").append("<li id='magic-line'></li>");
    
    /* Cache it */
    var $magicLine = $("#magic-line");
    
    $magicLine
        .width($(".current_page_item").width())
        .css("left", $(".current_page_item a").position().left)
        .data("origLeft", $magicLine.position().left)
        .data("origWidth", $magicLine.width());
        
    $("#example-one li").find("a").hover(function() {
        $el = $(this);
        leftPos = $el.position().left;
        newWidth = $el.parent().width();
        
        $magicLine.stop().animate({
            left: leftPos,
            width: newWidth
        });
    }, function() {
        $magicLine.stop().animate({
            left: $magicLine.data("origLeft"),
            width: $magicLine.data("origWidth")
        });    
    });

    $(function(){
    $('.title').click(function(){
        window.location='index.html'
    });
    });
         
  })
    </script>
    
    </html>