<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PerfectYou Screening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css"> 
    <link rel="stylesheet" href="stylesheet/style.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <!-- <link rel="shortcut icon" href="images/icon-dark.ico" /> -->

</head>

<body id="toolbody">

    <div id="page">

    <header class="landingHead">
        <hr id="topLine"/>
    
    </header>

    <div class="row" id="headRow">

            <div class="col-sm-3">
                <h2 class="title"> PERFECT YOU </h2>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="topNav">
                <div class="col-xs-4"></div>
                <div class="col-xs-3" style="color:black">manahilhashmi</div>
                <div class="col-sm-3"> <button type="button" id = "logbutton" class="btn btn-primary btn-md"> Log Out</a></button> 
                </div>  
            </div>
    </div>
   
      <div class="nav-wrap">
        <center>
      <ul class="group" id="example-one">
            <li >
              <a href="home.html">Home</a>
            </li>
            <li class="current_page_item" id ="stest"><a href="#">Screening Test</a></li>
            <li id="sco"><a href="score.html">My Scores</a></li>
            <li id="dd"><a href="#">Daily Diary</a></li>
             <li><a href="#">Share My Story</a></li>
            
        </ul> </center>
      </div>

      <div class="row" id="tool">
        
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
           
        <center><h2 style="margin-top:30px;">Thank you for taking the test. Your progress is saved with us.</h2></center>
        
         <p style="text-align: center;">You may return to your test at any point in time and continue from where you left.</p>
        </div>
        <div class="col-xs-2"></div>

        </div>

      <footer class="myfooter" id= "warning">


        <div class="col-xs-1 col-xs-offset-1"> 
          <img src="image/warn.png" style="margin-left:20px;"> </div>
        <div class="col-xs-9" style="padding-left:0px">This test has been designed for self-assessment purposes only. It does not diagonse. Kindly take it as an assessment tool only to know about your eating behavior and refer to a consultant if advised to do so.</div>
               
      </footer>

    </div>

        <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script>
          var slideIndex = 1;
          showDivs(slideIndex);

          function plusDivs(n) {
            showDivs(slideIndex += n);
          }

          function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
          }
          </script>
  </body>



<script type="text/javascript">
$(document).ready(function(){
    console.log('here')
   

  $("#example-one").append("<li id='magic-line'></li>");
    
    /* Cache it */
    var $magicLine = $("#magic-line");
    
    $magicLine
        .width($(".current_page_item").width())
        .css("left", $(".current_page_item a").position().left)
        .data("origLeft", $magicLine.position().left)
        .data("origWidth", $magicLine.width());
        
    $("#example-one li").find("a").hover(function() {
        $el = $(this);
        leftPos = $el.position().left;
        newWidth = $el.parent().width();
        
        $magicLine.stop().animate({
            left: leftPos,
            width: newWidth
        });
    }, function() {
        $magicLine.stop().animate({
            left: $magicLine.data("origLeft"),
            width: $magicLine.data("origWidth")
        });    
    });

    $(function(){
    $('.title').click(function(){
        window.location='index.html'
    });
    });
    $(function(){
    $('#beginbut').click(function(){
        window.location='questions.html'
    });
    });
         
  })
    </script>
    
    </html>
